<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/styles/styles.css">
    <script src="https://kit.fontawesome.com/01048f2c11.js" crossorigin="anonymous"></script>
    <title>Abass Resume Website</title>
</head>
<body>
    <div class="wrapper">
        <div class="sidebar">
            <ul style="display: flex; flex-direction: column; align-items: center; height: 50%; justify-content: center;">
                <li><a href="/"><i class="fa-solid fa-house fa-2x" style="color:grey;"></i></a></li>
                <li style="background-color: #312F2E;"><a href="/skills"><i class="fa-solid fa-toolbox fa-2x" style="color: #9183C9;"></i></a></li>
                <li><a href="#projects"><i class="fa-brands fa-python fa-2x" style="color: grey;"></i></a></li>
                <li><a href="#experience"><i class="fa-solid fa-user-tie fa-2x" style="color: grey;"></i></a></li>
                <li><a href="#contact"><i class="fa-solid fa-address-card fa-2x" style="color: grey;"></i></i></a></li>
            </ul>
        </div>
        <div class="mainContent">
            <div>
                <div class="header"><span>SKILLS</span></div>
                <div class="content">
                    <div class="title" style="flex: 1;">
                        <span style="font-size: 5rem; font-weight: bold; line-height: 70%;">Technical Skills</span><br>
                        <span style="font-size: 1.5rem; color: grey; line-height: 200%;">Summary</span>
                        <br>
                        <br>
                        <br>
                        <span style="font-weight: bold; font-size: 1.5rem;">
                            Experienced Data Scientist with a degree in Accounting & Finance and a keen interest in Entrepreneurship & Capital Markets. 
                            Skilled at utilizing data acquisition, modeling, and statistical analysis, to create customer-facing dashboards, applications and machine learning models that assist companies with product development, 
                            market research, design and analysis. Passionate about collaborating with teams to help build and grow innovative companies, products and solutions.
                        </span>
                        <div style="display: flex; width: 30rem; height: 3rem; margin-top: 2rem; gap: 1rem;">
                            <div style="background-color: #9183C9; border-radius: 0.3rem; flex: 1; display: flex; align-items: center; justify-content: center; gap: 0.5rem">
                                <img src="../static/img/go_arrow.png" style="height: 1.5rem;">
                                <span style="color: white; font-weight: bold">
                                    View Portfolio
                                </span>
                            </div>
                            <div style="background-color: #4f4f4f; border-radius: 0.3rem; flex: 1; display: flex; align-items: center; justify-content: center; gap: 0.5rem">
                                <img src="../static/img/document.png" style="height: 1.5rem;">
                                <span style="color: white; font-weight: bold">
                                    View Resume
                                </span>
                            </div>
                        </div>
                    </div>
                    <div style="flex:0.75; display: flex; justify-content: center;">
                        <img src="../static/img/dp.png" style="height: 75%;">
                    </div>
                </div>
            </div> 
        </div>
        <div class="rightSideBar">
            <ul>
                <li><a href="https://www.linkedin.com/in/abass-ibrahim/" target="_blank"><img src='../static/img/linkedin logo.png' style="width: 2rem;"></a></li>
                <li><a href="https://github.com/AbsIbs" target="_blank"><img src='../static/img/github logo.png' style="width: 2rem;"></a></li>
                <li><a href="https://github.com/AbsIbs"><img src='../static/img/gmail.png' style="width: 2rem;"></a></li>
            </ul>
        </div>
    </div>
</body>
</html>