
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Calibri';
    box-sizing: border-box;
    color: #302E2C;
}

body{
    background: #f3f5f9;
}

.wrapper{
    display: flex;
    flex-direction: row;
    position: fixed;
}

.wrapper > .sidebar{
    width: 5rem;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    display: flex; 
    justify-content: center; 
    align-items: center;
    height: 100vh;
}

.wrapper > .sidebar ul li{
    flex: 1;
    display: flex;
    width: 5rem;
    justify-content: center;
    align-items: center;
}

.wrapper > .rightSideBar{
    width: 3.5rem;
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 100vh;
}

.wrapper > .rightSideBar ul{
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    height: 30%; 
    justify-content: center;
    width: 3.5rem;
    border-radius: 1rem 0rem 0 1rem;
}

.wrapper > .rightSideBar ul li{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes transitionIn{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.mainContent{
    display: flex;
    flex:1;
    flex-direction: column;
    padding: 0 6rem 0;
    overflow: auto;
    animation: transitionIn 0.5s;
}

.header{
    height: 10rem;
    padding-top: 3rem;
    font-size: 2rem;
    font-weight: bold;
}

.header > span{
    border-left: 0.3rem #9183C9 solid;
    padding-left: 1rem;
}

.content{
    display: flex;
    flex-direction: row;
    padding-bottom: 5rem;
}

.title{
    margin: 0 0 0;
}

section {
    flex: 0 0 auto;
    display: flex;
    height: 100%;
    width: 100%;
    scroll-snap-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow-y: hidden;
    scroll-behavior: smooth;
    scroll-snap-type:y mandatory;
}

.sectionTitle{
    font-size: 3rem; 
    font-weight: bold; 
    line-height: 70%;
}

.textWrapper{
    width: 246px;
    overflow: hidden;
}

.textWrapper .text{
    position: relative;
    color: #9183C9;
    font-weight: bold;
    font-size: 1.5rem;
}

.text.sec-text:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #f3f5f9;
    border-left: 4px solid #9183C9;
    animation: animate 2.5s steps(14) infinite;
}

@keyframes animate{
    40%, 60%{
        left: calc(100% + 2px);
    }
    100%{
        left: 0;
    }
}

.skillsContainer{
    display: flex; 
    flex-direction:column;
    flex: 1;
}

.skillsContainer div{
    flex: 1;
}

.skillsHeader{
    font-size: 1rem;
    font-weight: bold;
}

.skillsBar{
    width: 100%;
    height: 0.8rem;
    display: flex;
    gap: 1rem;
    margin: 0.5rem 0 0;
}

.skillsBar div{
    flex:1;
    background-color: #9183C9;
    box-shadow: #302E2C 1px;
}

.eachSkill{
    margin: 0 0 2rem;
}

.iconForSkills{
    width: 2.5rem;
    margin-bottom: 0.5rem;
    height: 2.5rem;
}

.skillTitle{
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.skillDesc{
    text-align: justify;
}